*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}
.bigContainer{
	width: 100%;
	height: 100vh;
	
}


.box1{
	border-bottom: solid black 1px;

}
.box2{
border-bottom: solid black 1px;
}
.box3{

}
#user-container{
	width: 30%;
	border: solid 1px black;
}
#repo-container{
	width: 50%;
	
	

}
.following{
	display: inline-block;
}
img{
	width: 100%;

}