*{
	margin:0;
	padding: 0;
	box-sizing:border-box;
}
.bigContainer{
	width: 100%;
	height: 100vh;
	
}

.familyPic{
	width: 100%;
	border-radius: 6px;

}
#user-container{
	width: 30%;
	
	margin-left: 10px;
	display:inline-block;
	height: 100vh;
	vertical-align: top;
}
#repo-container{
	width: 60%;
	display: inline-block;
	vertical-align: top;
	padding-left: 20px;
}
.name{
	font-size: 26px;
	line-height: 30px;
	font-weight: bold;
}
.userName{
	font-size: 20px;
	font-style: normal;
	color:#666;
	line-height: 24px;
}

.box1{
	border-bottom: solid #eee 1px;
	padding-bottom: 15px;
}
.box2{
	border-bottom: solid #eee 1px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 16px;
}
.company,.location,.email,.joinedDate,.blog{
	padding-top:4px;
	padding-bottom:4px;
}
.email{
	color:blue;
	padding-bottom: 8px;
}
.box3{
	padding-top: 15px;
	padding-bottom: 21px;
	border-bottom: solid #eee 1px;
}


.Following, .Starred, .Followers{
	text-align: center;
	display: inline-block;
	width: 32%;

}
.numbers{
	color: blue;
	font-size: 28px;
	font-weight: bold;
	line-height: 1;
}
.letters{
	color:#999;
}
.organizations{
	font-size: 16px;
	margin-top: 15px;
	margin-bottom: 15px;
	line-height: 1.1

}
.repositories{
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #eee;
}
.namerepo{
	font-size: 20px;
	line-height: 1.2;
	display: inline-block;
	color:blue;
}
.description{
	margin-top: 8px;
	font-size: 16px;
	color: #666;
}
.updated{
	margin-top: 11px;
	font-size: 15px;
	color: #888;
}
.language{
	position: absolute;
	right: 13%;
	margin-top: 4px;
}
.stargazer{
	position: absolute;
	right: 9%;
	margin-top: 4px;
}
.star{
	position: absolute;
	right: 10%;
	margin-top: 2px;
}